<!DOCTYPE html>
<html>
<head><meta charset="UTF-8"><title>得意先更新</title></head>
<body>

<h1>得意先更新</h1>

{% for message in messages %}
  <p style="color:red">{{ message }}</p>
{% endfor %}

<form method="post">
  {% csrf_token %}

  <table border="1">
    <tr>
      <th>得意先コード</th>
      <td>{{ customer.customer_code }}</td>
    </tr>
    <tr>
      <th>得意先名</th>
      <td>{{ form.customer_name }}</td>
    </tr>
    <tr>
      <th>電話番号</th>
      <td>{{ form.customer_telno }}</td>
    </tr>
    <tr>
      <th>郵便番号</th>
      <td>{{ form.customer_postalcode }}</td>
    </tr>
    <tr>
      <th>住所</th>
      <td>{{ form.customer_address }}</td>
    </tr>
    <tr>
      <th>割引率</th>
      <td>{{ form.discount_rate }}</td>
    </tr>
  </table>

  <button type="submit">更新する</button>
  <a href="{% url 'customer_update_select' %}">キャンセル</a>
</form>

</body>
</html>
